.container {
    position: relative;
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 10px 3%;
    border: 3px groove rgb(35, 63, 54);
    border-radius: 10px;

}

.pointer {
    position: absolute;
    bottom: 10px;
    transform: translate(-50%, -40%);
    left: 50%;
    display: flex;
    gap: 10px;
}
.pointer > * {
    border: 1px solid rgb(255, 250, 250);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.back {
    position: absolute;
    bottom: 50%;
    left: 3%;
}

.forth {
    position: absolute;
    bottom: 50%;
    right: 3%;
}

.title {
    background: rgba(74, 66, 66, 0.5);
    padding: 10px;
    border-radius: 10px;
    color: rgb(130, 230, 230);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}