.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
}


.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.cta {
    background: rgb(55, 39, 4);
    margin: 20px;
    height: 50px;
}