.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    min-height: 50vh;
}

.container input {
    border: none;
    outline: 1px solid salmon;
    height: 50px;
    padding: 10px;
    font-size: 20px;
}

/* .container button {
    
} */